/*Header part*/
.header{
    background-image: url(../images/Hero-bg.png);
    width: 100%;
    height: 698px;
}

.banner{
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    margin-top: 208px;
    margin-bottom: 158px;
}
    
.logo{
    color: #4E47FF;
    font-family: inter;
    font-size: 34px;
    font-weight: 1000;
    font-family: inter;
}

.singup-button{
    background-color: #4E47FF;
    font-size: 16;
    font-weight: 800;
    color: #FFFF;
    width: 132px;
    height:48px ;
    border-radius: 10px;
    font-family: Raleway;
}

.navbar{
    max-width: 1140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.banner-text{
    font-size: 65px;
    font-weight: 800;
    font-family: Raleway;
    color: rgba(37, 36, 50, 1);
}

.banner-button{
    background-color: #4E47FF;
    font-size: 16;
    font-weight: 800;
    color: #FFFF;
    padding: 12px 36px 12px 36px;
    border-radius: 10px;
    font-family: Raleway;
}

/*----------------------------------------------*/

/* Aaction Section Start*/

.action-section{
    max-width: 1140px;
    margin: 0 auto;
    justify-content: space-between;
    display: flex;
    padding-top: 116px;
    
}

.action-heder{
    color: rgba(37, 36, 50, 1);
    font-size: 48px;
    font-weight: 800;
    font-family: Raleway;
    width: 475px;
}

.action-text{
    font-size: 24px;
    font-weight: 400;
    font-family: Raleway;
    width: 475px;
    color: rgba(37, 36, 50, 0.5);
}

.action-button{
    background-color: #4E47FF;
    font-size: 16;
    font-weight: 800;
    color: #FFFF;
    padding: 12px 36px 12px 36px;
    border-radius: 10px;
    font-family: Raleway;
}

.action-image{
    border-radius: 48px;
}

/*----------------------------------------*/

/* joint section start*/

.join-section{
    max-width: 1140px;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 116px;
    background-color: rgba(78, 71, 255, 0.1);
    border-radius: 24px;

    padding: 50px 142px 50px 142px;
}

.join-texts{
    display: flex;
    justify-content: space-between;
}

.join-header{
    text-align: center;
    color: rgba(37, 36, 50, 1);
    font-size: 38px;
    font-weight: 800;
    font-family: Raleway;
}

.join-hinertext{
    color:#4E47FF;
    font-size: 80px;
    font-weight: 800;
    font-family: Inter;
    margin-top: -0px;
}

.join-pinertext{
    color:rgba(0, 0, 0, 0.5);
    font-size: 20px;
    font-weight: 400;
    font-family: Inter;
    margin-top: -100px;
}

/*---------------------------------*/

.says-section{
    max-width: 1140px;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 137px;
}
 .our-says{
    display: flex;
    justify-content: space-between;
    
 }

 .says1{
    width: 366px;
    height: 243px; 
    gap: 20px;
    border: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    border-color: rgba(242, 237, 237, 1);
    border-radius: 14px;
    padding: 2px;
 }

.says-hedding{
    color: rgba(37, 36, 50, 1);
    font-weight: 800;
    font-size: 42px;
    font-family:Raleway ;
    text-align: center;
}

.starts{
    display: flex;
    margin-top: 15px;
    color: rgba(255, 184, 5, 1);
}

.says-inerhedding{
    color: rgba(37, 36, 50, 1);
    font-weight: 800;
    font-size: 24px;
    font-family:Raleway ;
    margin:0 auto;
    padding-top: 10px;
}

.says-inertext{
    color: rgba(37, 36, 50, 1);
    font-weight: 400;
    font-size: 24px;
    font-family:Raleway; 
    
}

.profile{
    display: flex;
}

.profile-image{
    width: 40px;
    height: 40px;
    border-radius: 999px;
    margin:0;
    margin-right: 5px;
}

.profile-hedding{
    color: rgb(53, 53, 61);
    font-weight: 600;
    font-size: 16px;
    font-family:Raleway ;
    margin:0 auto;
}

.profile-hedingtext{
    color: rgb(63, 63, 75);
    font-weight: 400;
    font-size: 16px;
    font-family:Raleway ;
    margin:0;
    justify-content: left;
}

/*-----------------------------------------------------------------------------*/

.focus{
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 137px;
    border-radius: 14px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    padding: 71px 150px 71px 150px;
}

.focus-hedding{
    text-align: center;
    color: rgba(0, 0, 0, 1);
    font-weight: 800;
    font-size: 50px;
    font-family:Raleway ;
}

.focus-text{
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 400;
    font-size: 16px;
    font-family:Raleway ;
    padding-bottom: 20px;
    margin-top: -20px;
}

.focus-button{
    justify-content: center;
    display: block;
    margin: 0 auto;
    color: #ffff;
    font-weight: 500;
    font-size: 16px;
    font-family: Raleway ;
    padding: 12px 36px 12px 36px;
    background-color: #4E47FF;
    border-radius: 10px;
}

.focus-image{
        width: 840px;
        height: 364px;
        align-content: center;
        border-radius: 48px;
        justify-content: center;
        display: block;
        margin: 0 auto;
        padding-top: 15px;
    }

    /*--------------------------------------------------------*/

    .form-section{
        max-width: 1140px;
        margin: 0 auto;
        margin-top: 137px;
        
    }

    .for-flex{
        display: flex;
        justify-content: space-between;
    }

    .form-hedding{
        width: 528px;
        height: 232px;
        text-align: left;
        color: rgba(0, 0, 0, 1);
        font-weight: 800;
        font-size: 50px;
        font-family:Raleway ;
    }


    .from-form input[type="text"] {
    width: 497px;
    height: 50px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    display: block;
    border-radius: 10px;
    margin-bottom: 19px;
}
.from-form input[type="email"]{
    width: 497px;
    height: 50px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    display: block;
    border-radius: 10px;
    margin-bottom: 19px;
    }

.from-form textarea{
    width: 497px;
    height: 130px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    display: block;
    border-radius: 10px;
    margin-bottom: 19px;
}

.lable-from{
    color: rgba(0, 0, 0, 1);
    font-weight: 500;
    font-size: 18px;
    font-family: inter;
    
}

.form-buttom{
    color: #ffff;
    font-weight: 500;
    font-size: 16px;
    font-family: Raleway ;
    padding: 19px 101px;
    background-color: #4E47FF;
    border-radius: 10px;
    width: 497px;
}

/*---------------------------------------------------------------------------*/

footer{
     max-width: 540px;
        margin: 0 auto;
        margin-top: 137px;
        margin-bottom: 104px;
        justify-content: center;
}

.footer-header{
    color: #4E47FF;
    font-weight: 900;
    font-size: 100px;
    font-family: Raleway ;
    text-align: center;
    
}

footer p{
    color: rgba(137, 135, 161, 1);
    font-weight: 400;
    font-size: 14px;
    font-family: Raleway ;
    text-align: center;
}

.footer-list{
    display: flex;
    justify-content: space-around;
    text-decoration: none;


}
.footer-list li{
    text-decoration: none;
    list-style: none;
}

.footer-list li a{
    text-decoration: none;
    list-style: none;
    color: rgba(137, 135, 161, 1);
    font-weight: 400;
    font-size: 14px;
    font-family: Raleway ;
}